HOSTNAME=127.0.0.1
PORT=24000

BASE_PATH=/deskpro-messenger
NEXT_PUBLIC_BASE_PATH=$BASE_PATH
NEXT_PUBLIC_SOCKET_PATH=/sys/services/messenger-api/socket.io
NEXTAUTH_SECRET={{ crypto.SHA512 (printf "deskpro-services-messenger-api-private/%s" (getenv "DESKPRO_SVC_KEY" (getenv "DESKPRO_APP_KEY"))) }}

NEXTAUTH_URL=http://127.0.0.1:24000
NEXTAUTH_URL_INTERNAL=http://127.0.0.1:24000

MESSENGER_API_PRIVATE_URL=http://127.0.0.1:25000
