SERVER_LOG_LEVEL=info
LOG_LEVEL=info

{{if conv.ToBool (getenv "DESKPRO_CLOUD_MODE" "false")}}
DESKPRO_CLOUD_MODE=true
DESKPRO_SITE_INFO_SOURCE={{ getenv "DESKPRO_SITE_INFO_SOURCE"}}
DESKPRO_SITE_INFO_HEADER_NAME={{ getenv "DESKPRO_SITE_INFO_SOURCE" }}
{{end}}
