BASE_PATH=/deskpro-messenger-api
NEXT_PUBLIC_BASE_PATH=$BASE_PATH
NEXT_PUBLIC_SOCKET_PATH=/sys/services/messenger-api/socket.io
NEXTAUTH_SECRET={{ crypto.SHA512 (printf "deskpro-services-messenger-api-private/%s" (getenv "DESKPRO_SVC_KEY" (getenv "DESKPRO_APP_KEY"))) }}

# arbitrary host here because the public URL is only known at runtime
# but next will use this to set cookie props (e.g. path) so we need to set it.
NEXTAUTH_URL=https://BEBAF3DB-8FF3-415D-BEF2-205F6945B03B/deskpro-messenger

NEXTAUTH_URL_INTERNAL=http://127.0.0.1:25000
MESSENGER_API_PRIVATE_URL=http://127.0.0.1:24000
