[program:vector]
command=/usr/local/bin/vector --watch-config --config /etc/vector/vector.toml --config /etc/vector/vector.d/*.toml --color never --log-format json
user=vector
umask=002
numprocs=1
startsecs=0
autostart=true
autorestart=true
redirect_stderr=true
stdout_logfile=/var/log/vector.log
stdout_logfile_maxbytes=10000000
stdout_logfile_backups=0
stopsignal=TERM
stopwaitsecs={{ getenv "FAST_SHUTDOWN" "false" | ternary "0" "8" }}
# makes vector start first and shut down last so it
# will read logs from other processes during shutdown
priority=0
environment=VECTOR_MARKER="{{ getenv "VECTOR_MARKER" "" }}",VECTOR_COLOR=never

[eventlistener:rotate_logs]
command=/etc/supervisor/rotate-logs
user=vector
events=TICK_60
autorestart=true
buffer_size=1
stderr_logfile=/var/log/supervisor/rotate_logs.log
stdout_logfile_maxbytes=0 {{/* Our rotate-logs task will handle rotation */}}
stdout_logfile_backups=0
stopsignal=KILL
stopwaitsecs=0
environment=VECTOR_MARKER="{{ getenv "VECTOR_MARKER" "" }}"
