[program:svc_messenger_api]
command=/srv/deskpro/services/messenger-api/bin/start
autostart={{ and (getenv "SVC_PHP_FPM_ENABLED" "false") (getenv "SVC_MESSENGER_ENABLED" "false") }}
autorestart=true
exitcodes=0
user=dp_app
group=dp_app
startsecs=1
startretries=3
redirect_stderr=true
stdout_logfile=/var/log/supervisor/svc_messenger_api.log
stdout_logfile_maxbytes=10000000
stdout_logfile_backups=1
environment=HOSTNAME=127.0.0.1,PORT=24000

[program:svc_messenger]
command=/srv/deskpro/packages/deskpro-messenger/bin/start.sh
autostart={{ and (getenv "SVC_PHP_FPM_ENABLED" "false") (getenv "SVC_MESSENGER_ENABLED" "false") }}
autorestart=true
user=dp_app
group=dp_app
exitcodes=0
startsecs=1
startretries=3
redirect_stderr=true
stdout_logfile=/var/log/supervisor/svc_messenger.log
stdout_logfile_maxbytes=10000000
stdout_logfile_backups=1
