[program:svc_messenger_api]
command=/srv/deskpro/services/messenger-api/bin/start
autostart={{ getenv "SVC_PHP_FPM_ENABLED" "false" | ternary "true" "false" }}
autorestart=true
exitcodes=0
user=dp_app
group=dp_app
stopwaitsecs={{ getenv "FAST_SHUTDOWN" "false" | ternary "0" "10" }}
startsecs=1
startretries=3
redirect_stderr=true
stdout_logfile=/var/log/supervisor/svc_messenger_api.log
stdout_logfile_maxbytes=0 {{/* Our rotate-logs task will handle rotation */}}
stdout_logfile_backups=0
environment=HOSTNAME=127.0.0.1,PORT=24000,HTTP_PROXY="{{ or (getenv "DESKPRO_HTTP_PROXY") (getenv "HTTP_PROXY") }}",http_proxy="{{ or (getenv "DESKPRO_HTTP_PROXY") (getenv "http_proxy") }}",HTTPS_PROXY="{{ or (getenv "DESKPRO_HTTPS_PROXY") (getenv "HTTPS_PROXY") }}",https_proxy="{{ or (getenv "DESKPRO_HTTPS_PROXY") (getenv "https_proxy") }}",ALL_PROXY="{{ or (getenv "DESKPRO_ALL_PROXY") (getenv "ALL_PROXY") }}",all_proxy="{{ or (getenv "DESKPRO_ALL_PROXY") (getenv "all_proxy") }}",NO_PROXY="{{ getenv "NO_PROXY" "" }}",no_proxy="{{ getenv "no_proxy" "" }}"
