[program:tasks]
command=/usr/local/sbin/tasksd
autostart={{ getenv "SVC_TASKS_ENABLED" "false" | ternary "true" "false" }}
autorestart=true
exitcodes=0
user=dp_app
group=dp_app
startsecs=1
stopsignal=INT
redirect_stderr=true
stdout_logfile=/var/log/supervisor/tasks.log
stdout_logfile_maxbytes=0 {{/* Our rotate-logs task will handle rotation */}}
stdout_logfile_backups=0
stopsignal=TERM
stopwaitsecs={{ getenv "FAST_SHUTDOWN" "false" | ternary "0" "60" }}
environment=CRON_STATUS_FILEPATH="{{ getenv "CRON_STATUS_FILEPATH" "" }}"
