{{ define "pool_defaults" -}}
user = dp_app
group = dp_app
chdir = /srv/deskpro
listen = /run/php_fpm_{{.}}.sock
listen.backlog = {{ getenv "PHP_FPM_LISTEN_BACKLOG" "1000" }}
listen.mode = 0666

pm.status_listen = /run/php_fpm_{{.}}.status.sock
pm.status_path = /fpm/status

clear_env = no
request_terminate_timeout = 60
request_terminate_timeout_track_finished = yes
security.limit_extensions = ".php"
env[DP_FPM_POOL] = {{.}}
php_admin_value[max_execution_time] = 60
php_admin_value[display_errors] = Off
php_admin_value[display_startup_errors] = Off
{{- end -}}


[global]
log_level = {{ getenv "PHP_FPM_LOG_LEVEL" "notice" }}
{{ getenv "PHP_FPM_OVERRIDES" }}


[dp_default]
{{ template "pool_defaults" "dp_default" }}
pm = ondemand
pm.max_children = {{ getenv "PHP_FPM_DP_DEFAULT_MAX_CHILDREN" "20" }}
pm.process_idle_timeout = 15s
pm.max_requests=1000
{{ getenv "PHP_FPM_POOL_OVERRIDES" }}
{{ getenv "PHP_FPM_DP_DEFAULT_OVERRIDES" }}


[dp_internal]
{{ template "pool_defaults" "dp_internal" }}
pm = ondemand
pm.max_children = {{ getenv "PHP_FPM_DP_INTERNAL_MAX_CHILDREN" "1000" }}
pm.process_idle_timeout = 15s
pm.max_requests=1000
{{ getenv "PHP_FPM_POOL_OVERRIDES" }}
{{ getenv "PHP_FPM_DP_INTERNAL_OVERRIDES" }}


[dp_gql]
{{ template "pool_defaults" "dp_gql" }}
pm = ondemand
pm.max_children = {{ getenv "PHP_FPM_DP_GQL_MAX_CHILDREN" "20" }}
pm.process_idle_timeout = 15s
pm.max_requests=1000
php_admin_value[disable_functions] = system, exec, shell_exec, passthru, phpinfo, popen, proc_open, fopen_with_path, dbase_open, move_uploaded_file, posix_mkfifo
{{ getenv "PHP_FPM_POOL_OVERRIDES" }}
{{ getenv "PHP_FPM_DP_GQL_OVERRIDES" }}


[dp_broadcaster]
{{ template "pool_defaults" "dp_broadcaster" }}
pm = ondemand
pm.max_children = {{ getenv "PHP_FPM_DP_BROADCASTER_MAX_CHILDREN" "1000" }}
pm.process_idle_timeout = 5s
pm.max_requests=200
request_terminate_timeout = 65
php_admin_value[max_execution_time] = 65
php_admin_value[post_max_size] = 2M
php_admin_flag[file_uploads] = false
php_admin_value[max_input_time] = 10
php_admin_value[disable_functions] = system, exec, shell_exec, passthru, phpinfo, popen, proc_open, fopen_with_path, dbase_open, move_uploaded_file, posix_mkfifo
{{ getenv "PHP_FPM_POOL_OVERRIDES" }}
{{ getenv "PHP_FPM_DP_BROADCASTER_OVERRIDES" }}


{{if conv.ToBool (getenv "HTTP_INTERNAL_MODE" "false")}}
; HTTP_INTERNAL_MODE=true so we make all pools ondemand
; because they are only relevant internally when called by a CLI task / worker

[dp_default]
pm = ondemand
php_admin_value[opcache.enable]=0

[dp_internal]
pm = ondemand
php_admin_value[opcache.enable]=0

[dp_gql]
pm = ondemand
php_admin_value[opcache.enable]=0

[dp_broadcaster]
pm = ondemand
php_admin_value[opcache.enable]=0
{{end}}
