root /srv/deskpro/serve/www;

add_header X-Frame-Options "SAMEORIGIN";
add_header X-XSS-Protection "1; mode=block";
add_header X-Content-Type-Options "nosniff";

charset utf-8;
disable_symlinks off;
index index.html index.php;

gzip on;
gzip_vary on;
gzip_comp_level 4;
gzip_min_length 1024;
gzip_types application/javascript application/x-javascript application/json application/ld+json application/manifest+json application/vnd.ms-fontobject application/wasm application/xhtml+xml application/xml font/eot font/otf font/ttf image/svg+xml image/vnd.microsoft.icon image/x-icon text/css text/javascript text/markdown text/plain text/xml text/vcard text/x-component;
gzip_static on;
gzip_proxied expired no-cache no-store private auth;

fastcgi_buffering off;
proxy_request_buffering off;
proxy_buffering off;
client_max_body_size {{ getenv "NGINX_CLIENT_MAX_BODY_SIZE" "100M" }};

location / {
    try_files $uri $uri/ /index.php?$query_string;
}

{{if (getenv "DESKPRO_BLOBS_PATH") }}
location ^~ /sys/services/blobs/private {
  internal;
  alias {{ regexp.Replace "(/+|/*$)" "/" (getenv "DESKPRO_BLOBS_PATH") }};
}
{{end}}

location ^~ /sys/services/blobs/fetch {
    fastcgi_pass unix:/run/php_fpm_dp_internal.sock;
    include /etc/nginx/conf.d/deskpro_fastcgi_params;
    {{if not (getenv "DESKPRO_BLOBS_PATH" )}}
    include /etc/nginx/conf.d/deskpro_fastcgi_noxaccel;
    {{end}}
}

location ^~ /sys/services/broadcaster/ {
    fastcgi_pass unix:/run/php_fpm_dp_broadcaster.sock;
    include /etc/nginx/conf.d/deskpro_fastcgi_params;
    include /etc/nginx/conf.d/deskpro_fastcgi_noxaccel;
}

location ~ ^/(admin\-api|agent\-api)/ {
    fastcgi_pass unix:/run/php_fpm_dp_gql.sock;
    include /etc/nginx/conf.d/deskpro_fastcgi_params;
    include /etc/nginx/conf.d/deskpro_fastcgi_noxaccel;
}

location ~ ^/(ticket\-channels|sys/services)/ {
    fastcgi_pass unix:/run/php_fpm_dp_internal.sock;
    include /etc/nginx/conf.d/deskpro_fastcgi_params;
    include /etc/nginx/conf.d/deskpro_fastcgi_noxaccel;
}

location ^~ /api/ {
    fastcgi_pass $dpv5_api_backend;
    include /etc/nginx/conf.d/deskpro_fastcgi_params;
    include /etc/nginx/conf.d/deskpro_fastcgi_noxaccel;
}

location ^~ /sys/services/messenger-api/ {
    if ($request_method = 'OPTIONS') {
        add_header 'Access-Control-Allow-Origin' '*';
        add_header 'Access-Control-Allow-Headers' '*';
        add_header 'Access-Control-Max-Age' '1728000';
        add_header 'Content-Type' 'text/plain charset=UTF-8';
        add_header 'Content-Length' 0;
        return 204;
    }

    add_header 'Access-Control-Allow-Origin' '*';
    add_header 'Access-Control-Allow-Headers' '*';
    add_header 'Access-Control-Max-Age' '1728000';

    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header Host $host;

    {{if getenv "HTTP_USER_REAL_PROTO_HEADER"}}
    proxy_set_header X-Forwarded-Proto $http_{{ (getenv "HTTP_USER_REAL_PROTO_HEADER") | toLower | replaceAll "-" "_" }};
    {{else}}
    proxy_set_header X-Forwarded-Proto $proto_for_scheme;
    {{end}}

    {{if getenv "HTTP_USER_REAL_HOST_HEADER"}}
      proxy_set_header X-Forwaded-Host $http_{{ (getenv "HTTP_USER_REAL_HOST_HEADER") | toLower | replaceAll "-" "_" }};
    {{else if getenv "HTTP_SERVE_HOST"}}
      proxy_set_header X-Forwarded-Host "{{ getenv "HTTP_SERVE_HOST" "$http_host" }}";
    {{end}}

    {{if getenv "HTTP_USER_REAL_PORT_HEADER"}}
      proxy_set_header X-Forwarded-Port $http_{{ (getenv "HTTP_USER_REAL_PORT_HEADER") | toLower | replaceAll "-" "_" }};
    {{else}}
      proxy_set_header X-Forwarded-Port $port_for_scheme;
    {{end}}

    proxy_pass http://127.0.0.1:24000/;
    proxy_redirect / /sys/services/messenger-api/;

    proxy_http_version 1.1;
    proxy_set_header Upgrade $http_upgrade;
    proxy_set_header Connection "upgrade";
}

location ~ ^/deskpro-messenger/assets/ {
    add_header 'Access-Control-Allow-Origin' '*';
    add_header 'Access-Control-Allow-Headers' '*';
    add_header 'Access-Control-Allow-Methods' 'GET,OPTIONS';
    add_header 'Access-Control-Max-Age' '1728000';
    add_header 'Cache-Control' 'public, max-age=31536000, immutable';

    if ($request_method = 'OPTIONS') {
        add_header 'Content-Type' 'text/plain charset=UTF-8';
        add_header 'Content-Length' 0;
        return 204;
    }
}

location ^~ /firebase-messaging-sw.js {
    fastcgi_pass unix:/run/php_fpm_dp_default.sock;
    include /etc/nginx/conf.d/deskpro_fastcgi_params;
    include /etc/nginx/conf.d/deskpro_fastcgi_noxaccel;
}

location ~ ^/deskpro-messenger/ {
    add_header X-XSS-Protection "1; mode=block";
    add_header X-Content-Type-Options "nosniff";
    fastcgi_pass unix:/run/php_fpm_dp_default.sock;
    include /etc/nginx/conf.d/deskpro_fastcgi_params;
    include /etc/nginx/conf.d/deskpro_fastcgi_noxaccel;
}

location ~ \.php$ {
    fastcgi_pass unix:/run/php_fpm_dp_default.sock;
    include /etc/nginx/conf.d/deskpro_fastcgi_params;
    include /etc/nginx/conf.d/deskpro_fastcgi_noxaccel;
}

location ~ /assets/[a-zA-Z0-9_\-\.]+/(pub|web)/.*?$ {
    add_header 'Access-Control-Allow-Origin' '*';
    add_header 'Access-Control-Allow-Headers' '*';
    add_header 'Access-Control-Allow-Methods' 'GET,OPTIONS';
    add_header 'Access-Control-Max-Age' '1728000';

    if ($request_method = 'OPTIONS') {
        add_header 'Content-Type' 'text/plain charset=UTF-8';
        add_header 'Content-Length' 0;
        return 204;
    }
}

location ^~ /static/ {
    add_header 'Access-Control-Allow-Origin' '*';
    add_header 'Access-Control-Allow-Headers' '*';
    add_header 'Access-Control-Allow-Methods' 'GET,OPTIONS';
    add_header 'Access-Control-Max-Age' '1728000';

    if ($request_method = 'OPTIONS') {
        add_header 'Content-Type' 'text/plain charset=UTF-8';
        add_header 'Content-Length' 0;
        return 204;
    }
}

location ~ ^/horizon\-ui/app/assets/ {
    add_header 'Access-Control-Allow-Origin' '*';
    add_header 'Access-Control-Allow-Headers' '*';
    add_header 'Access-Control-Allow-Methods' 'GET,OPTIONS';
    add_header 'Access-Control-Max-Age' '1728000';
    add_header 'Cache-Control' 'public, max-age=31536000, immutable';

    if ($request_method = 'OPTIONS') {
        add_header 'Content-Type' 'text/plain charset=UTF-8';
        add_header 'Content-Length' 0;
        return 204;
    }
}
