memory_limit = {{ getenv "PHP_MEMORY_LIMIT" "1G" | quote }}

opcache.enable = {{ getenv "PHP_OPCACHE_ENABLED" "1" | quote }}
opcache.enable_cli = 0
opcache.memory_consumption = {{ getenv "PHP_OPCACHE_MEMORY_CONSUMPTION" "128" | quote }}
opcache.interned_strings_buffer = 16
opcache.max_accelerated_files = 10000
opcache.validate_timestamps = On
opcache.validate_timestamps = {{ getenv "PHP_OPCACHE_VALIDATE_TIMESTAMPS" "On" }}
opcache.revalidate_freq = 5
opcache.use_cwd = On

; note: turned off on web requests via php_value in the pools
display_errors = On
display_startup_errors = On

{{ getenv "PHP_INI_OVERRIDES" }}
